@media (max-height: 600px) {
    #select {
        height: 1em;
    }
}

h1, h2{
   text-align: center;
   margin: 0;
}

textarea, select {
   min-height: 10em;
   resize: vertical;
   font-size: 2vh;
}

html, body, main {
   height: 100%;
}

main{
   display:flex;
   flex-direction: column;
}

body {
    margin: 0 1em;
}