@media only screen and (max-width: 768px) {
    select#select {
        min-height: 0;
        resize: none;
        height: 2em;
    }
}

h1, h2{
   text-align: center;
   margin: 0;
}

textarea, select {
    min-height: 10em;
    resize: vertical;
    font-size: 2vh;
    background-color: #cfc7ba;
}

html, body, main {
   height: 100%;
}

html {
    background-color: #b9ac94;
}

main{
   display:flex;
   flex-direction: column;
}

body {
    margin: 0 1em;
}