@media (hover: none) {
 select#select {
  min-height: 0;
  resize: none;
  height: 2em;
  flex: 0 0 auto;
 }
}

html {
 background-color: #242424;
}

main {
 display: flex;
 flex-direction: column;
}

body {
 margin: 0 1em;
}

h1, h2 {
 text-align: center;
 margin: 0;
}

h1 {
 font-size: 2.5vh;
}

h2 {
 font-size: 2.3vh;
}

textarea, select {
 min-height: 10em;
 resize: vertical;
 font-size: 2.3vh;
 background-color: #454545;
}